# Example environment variables for AI Shopping Assistant
# Do NOT commit real API keys to version control.

ANTHROPIC_API_KEY=your_api_key_here
GOOGLE_API_KEY=your_api_key_here
GROQ_API_KEY=your_api_key_here
ANTHROPIC_MODEL=claude-sonnet-4-20250514
HF_TOKEN=your_api_key_here
APP_NAME=Shopping_List
DEBUG=False
Langsmith_API_KEY=your_api_key_here
